.sbutton {
    width: 100%;
    padding: 10px;
    background-color: #4c91af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.form-container {
    margin-left: 700px;
    margin-top: 100px;
    width: 300px;
    border: 2px solid #35518e;
    padding: 25px;
    border-radius: 10px;
    font-size: large;
}